# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod
*_genmod.f90

# Executables
*.exe
*.out
*.app

# MODFLOW output files
*.hobs
*.cbc
*.hed
*.lst

# GIS folder (too big)
GIS/*.*
GIS/bathy/*.*
GIS/dem_10m/*.*
GIS/gages/*.*
GIS/geology/*.*
GIS/hru_params/*.*
#GIS/ss_hobs/*.*
GIS/watersheds/*.*  
GIS/wells/*.* 

PEST/grid.dbf
PEST/ppts_w_zones.dbf
GIS/hru_params_v10/
PEST/Iteration_1_Back_From_Condor/
PEST/Iteration_2_Back_From_Condor/
PEST/Iteration_3_Back_From_Condor/
PEST/Iteration_4_Back_From_Condor/
PEST/Iteration_5_Back_From_Condor/
PEST/Iteration_6_Back_From_Condor/
PEST/Iteration_7_Back_From_Condor/
