# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod
*_genmod.f90

# Executables
*.exe
*.out
*.app

# MODFLOW output files
*.hobs
*.cbc
*.hed
*.lst

# GIS folder (too big)
GIS/*.*
GIS/bathy/*.*
GIS/dem_10m/*.*
GIS/gages/*.*
GIS/geology/*.*
GIS/hru_params/*.*
#GIS/ss_hobs/*.*
GIS/watersheds/*.*  
GIS/wells/*.* 

PEST/grid.dbf
PEST/ppts_w_zones.dbf
GIS/hru_params_v10/
PEST/Iteration_1_Back_From_Condor/
PEST/Iteration_2_Back_From_Condor/
PEST/Iteration_3_Back_From_Condor/
PEST/Iteration_4_Back_From_Condor/
PEST/Iteration_5_Back_From_Condor/
PEST/Iteration_6_Back_From_Condor/
PEST/Iteration_7_Back_From_Condor/
PEST/Iteration_8_Back_From_Condor/
PEST/Iteration_9_Back_From_Condor/
PEST/well_resids_10.png
PEST/Iteration_10_Back_From_Condor/
PEST/Iteration_11_Back_From_Condor/
PEST/Iteration_12_Back_From_Condor/
PEST/Iteration_13_Back_From_Condor/
PEST/Iteration_14_Back_From_Condor/
PRMS/plots/__MACOSX/._sub4.png
PRMS/plots/__MACOSX/._sub3.png
GIS/ss_hobs/HOB_SS_Pts.POINT_Y.atx
GIS/ss_hobs/HOB_SS_Pts.POINT_X.atx
scale_params/scale_params/x64/Release/scale_params.txt
Simulation_20160812T131753/OUTPUT/gages/GA_StrmQ_obs.txt
Simulation_20160812T131753/OUTPUT/gages/DJ_StrmQ_obs.txt
Simulation_20160812T131753/OUTPUT/gages/CL_StrmQ_obs.txt
PRMS/plots/sub9.png
PRMS/plots/sub13.png
PRMS/plots/sub12.png
PRMS/plots/sub11.png
PRMS/plots/sub10.png
PRMS/plots/sub1.png
PRMS/plots/calib_plots.zip
PRMS/plots/__MACOSX/._sub5.png
Simulation_20161129_SteadyState/carmel.rst
Simulation_20161129_SteadyState/carmel.rec
Simulation_20161129_SteadyState/INPUT/Notes_SS_HOBS_Construction.txt
Simulation_20161129_SteadyState/Excel_info/Simulation_20161129_SteadyState.hob
PRMS/plots/sub4.png
PRMS/plots/sub3.png
PRMS/plots/sub2.png
PRMS/plots/sub17.png
PRMS/plots/sub16.png
PRMS/plots/sub15.png
PRMS/plots/sub14.png
Simulation_20160812T131753/carmel.rec
Simulation_20160812T131753/OUTPUT/gages/SH_StrmQ_obs.txt
Simulation_20160812T131753/OUTPUT/gages/RR_StrmQ_obs.txt
Simulation_20160812T131753/OUTPUT/gages/NC_StrmQ_obs.txt
PRMS/plots/sub8.png
PRMS/plots/sub6.png
PRMS/plots/sub5.png
.gitattributes
TransientFilesForReview/Carmel_2017_07_21.hob
Simulation_20161129_SteadyState/fort.33
Simulation_20161129_SteadyState/carmel.svd
Simulation_20161129_SteadyState/carmel.sen
Simulation_20160812T131753/carmel.sen
Simulation_20160812T131753/carmel.rst
Simulation_20160812T131753/OUTPUT/gages/H1_StrmQ_obs.txt
scale_params/scale_params/x64/Debug/scale_params.exe.intermediate.manifest
scale_params/scale_params/x64/Debug/BuildLog.htm
scale_params/scale_params/scale_params.u2d
Simulation_20160812T131753/fort.92
Simulation_20160812T131753/fort.12
Simulation_20160812T131753/carmel.svd
PEST/Iteration_15_Back_From_Condor/
Simulation_20160812T131753/INPUT/modflow/restartdata1.in
